﻿@model WebFinalProject.Models.ChiTietTheLoaiTruyen

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ChiTietTheLoaiTruyen</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenChiTietTheLoaiTruyen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenChiTietTheLoaiTruyen)
            @Html.ValidationMessageFor(model => model.TenChiTietTheLoaiTruyen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoaiTruyenID, "LoaiTruyen")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LoaiTruyenID", String.Empty)
            @Html.ValidationMessageFor(model => model.LoaiTruyenID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
