﻿@model WebFinalProject.Models.ChiTietTheLoaiTruyen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ChiTietTheLoaiTruyen</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenChiTietTheLoaiTruyen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenChiTietTheLoaiTruyen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiTruyen.TenLoaiTruyen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiTruyen.TenLoaiTruyen)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ChiTietTheLoaiTruyenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
