﻿@model WebFinalProject.Models.Comment
<div class="display-field" style="font-weight:bold">
    @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" }): @Html.DisplayFor(model=>model.NoiDung)
</div>

<div class="display-field">

    Đã bình luận @Html.DisplayFor(model => model.LastTime) trước
</div>
