﻿@model WebFinalProject.Models.TuocVi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TuocVi</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenTuocVi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenTuocVi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DieuKienBaiDang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DieuKienBaiDang)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TuocViID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
