﻿@model MyBlog3.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
@Html.Partial("_AddComment",new MyBlog3.Models.Comment(), ViewData)
<fieldset>
    <h3>Comments</h3>
    @foreach (var cmt in Model.Comments.OrderByDescending(c => c.DayCreated).Take(10))
    {
        <div class="display-field">
            <h4> @Html.DisplayFor(c => cmt.Author) &nbsp;   Đã bình luận cách đây : @Html.DisplayFor(c => cmt.LastTime) </h4>
        </div>

        <div class="display-field">
            @Html.DisplayFor(c => cmt.Body)
        </div>
    }
</fieldset>
<fieldset>
    <h3>Tags</h3>
    @foreach (var t in Model.Tags)
    {
    @Html.ActionLink(t.Content, "SearchLinkTag/" + t.ID, "Post")
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
