﻿@model MyBlog5.Models.Comment
<div class="display-field">
        <h4> @Html.DisplayFor(model => model.Author) &nbsp;   Đã bình luận cách đây : @Html.DisplayFor(model => model.LastTime) </h4>
    </div>

<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>

