﻿@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_WebProject.cshtml";
}
<body>
    <div class="panel" style="width:1080px; height:300px;background:#ffffff;border:solid 1px #f5f0f0; margin:10px 10px">
        <div class="panel" style="width:100px; height:30px; background:#ee9922; font-size:1.0em; text-align:center; font-weight:bold; margin-left:-4px; margin-bottom:8px">
            <article> Truyện ngắn</article>
        </div>
        <div class="panel" style="background:#ffffff; width:660px;float:left; margin:10px 10px; border:solid 2px #f5f0f0">
                <img src="~/Images/anh-duong-cua-toi.jpg" style="float:left" />
                <div style="width:300px; height:200px; float:right; text-align:center; margin-right:30px; margin-top:10px; font-weight:bold">
                    @Html.ActionLink("Ánh Dương là của tôi","AnhDuongLaCuaToi","Post")
                    <br />
                    <content>
                        Tôi là một gã trai tồi, như người ta hay gọi là playboy.
                        Tôi thay người yêu như thay áo, với tôi, đàn bà chỉ là thứ tạm bợ xoa dịu cho trái tim hoang hoải và tâm hồn cô đơn của mình.

                        Chưa bao giờ tôi nghĩ, sẽ có một cô gái trói buộc được trái tim rong ruổi như cơn gió hoang của mình...
                    </content>
                </div>
            </div>
        <div class="panel" style="background:#ffffff; width:300px; float:right; border:thin; margin:0 0; padding-top:10px; margin-top:10px; margin-right:40px; font-weight:bold">
            @Html.ActionLink("☼ Được yêu anh là may mắn của em", "TrangChu", "TrangChu")
            <br />
            <br />
            @Html.ActionLink("☼ Hoa muống biển", "TrangChu", "TrangChu")
            <br />
            <br />
            @Html.ActionLink("☼ Định mệnh", "TrangChu", "TrangChu")
            <br />
            <br />
            @Html.ActionLink("☼ Bản họa không kết", "TrangChu", "TrangChu")
            <br />
            <br />
            <div style="width:100px; height:50px; float:right; text-align:center">
                @Html.ActionLink("Xem tất cả", "TrangChu", "TrangChu")

            </div>
        </div>
    </div>
</body>