﻿@model WebFinalProject.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
}
<div class="container-fluid" style="background:#ffffff; margin-top:0; padding-top:0; margin-top:30px; margin-left:10px; margin-right:10px; margin-bottom:30px; border: 1em solid #f7eded; text-align:center">


    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <section id="loginForm">
        <h2>Nhập thông tin tài khoản</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

    <div class=" container" style="width:600px; height:300px;text-align:right; padding-right:170px">
        <fieldset>
            
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
            <br />
              
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
           <br />
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
           
            <input type="submit" value="Log in" />
        </fieldset>
        <p>
            @Html.ActionLink("Đăng ký", "Register") Nếu bạn chưa có tài khoản?
        </p>
        </div>
        }
</section>

    <section class="social" id="socialLoginForm">
        <h2>Use another service to log in.</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
