﻿@model WebFinalProject.Models.RegisterModel
@{
    ViewBag.Title = "Đăng ký";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Tạo tài khoản mới.</h2>
</hgroup>*@
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="container-fluid" style="background:#ffffff; margin-top:0; padding-top:0; margin-left:10px; margin-right:10px; margin-bottom:10px; border: 1em solid #f7eded; text-align:center">
            <h3>Nhập thông tin đăng ký</h3>
            <div class=" container" style="width:600px; height:400px;text-align:right; padding-right:170px">
                @Html.Label("Tên tài khoản:")
                @Html.TextBoxFor(m => m.UserName)
                <br />

                @Html.Label("Mật khẩu:")
                @Html.PasswordFor(m => m.Password)
                <br />
                @Html.Label("Xác nhận mật khẩu: ")
                @Html.PasswordFor(m => m.ConfirmPassword)
                <br />
                <br />
                @Html.LabelFor(m => m.TenNguoiDung, "Tên người dùng")
                @Html.TextBoxFor(m => m.TenNguoiDung)
                @Html.ValidationMessageFor(m => m.TenNguoiDung)
                <br />
                @Html.LabelFor(m => m.NgaySinh, "Ngày sinh")
                @Html.TextBoxFor(m => m.NgaySinh)
                @Html.ValidationMessageFor(m => m.NgaySinh)
                <br />
                @Html.LabelFor(m => m.GioiTinh, "Giới tính")
                @Html.TextBoxFor(m => m.GioiTinh)
                @Html.ValidationMessageFor(m => m.GioiTinh)
                <br />
                @Html.LabelFor(m => m.SoDienThoai, "Số điện thoại")
                @Html.TextBoxFor(m => m.SoDienThoai)
                @Html.ValidationMessageFor(m => m.SoDienThoai)
                <br />
                @Html.LabelFor(m => m.Email, "Email")
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
                <br />
                @Html.LabelFor(m => m.DiaChi, "Địa chỉ")
                @Html.TextBoxFor(m => m.DiaChi)
                @Html.ValidationMessageFor(m => m.DiaChi)
                <br />
                @Html.LabelFor(m => m.SoThich, "Sở thích")
                @Html.TextBoxFor(m => m.SoThich)
                @Html.ValidationMessageFor(m => m.SoThich)
                <br />
                <div style="float:none; padding-right:100px">
                    <input type="submit" value="Đăng ký" />
                </div>
            </div>
        </div>
    }
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
