﻿@if (Request.IsAuthenticated)
{
    <div>
        <a href="@Url.Action("Create","Post")"> <input type="submit" value="Đăng bài" style="width:100px;height:35px; background:#d51212; color:#ffffff; font-size:1.1em; font-weight:bold; text-align:center;padding-top:0;"></a>
        <a>
            <input type="submit" value="Quản lý bài đăng" style="width:200px;height:35px; background:#ff6a00;color:#ffffff; font-size:1.1em; font-weight:bold; padding-top:0;">
        </a>
    </div>
   
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right", style="margin-right:20px">
            <li>
                @Html.ActionLink("Xin chào, " + User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="font-weight:bold">
        <li>@Html.ActionLink("Đăng kí", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}