﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="row" style="margin-left:0; margin-right:0">
        <div class="col-lg-9">
            <img src="~/Images/10856277_308998815957749_201275008_o.jpg" class="img-responsive" />
        </div>
        <div style="float:right; margin-top:30px; margin-right:20px">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
        <div class="nav navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="font-weight:bold; font-size:1.2em;">
                    <li>@Html.ActionLink("Trang chủ", "TrangChu", "TrangChu")</li>
                    <li>@Html.ActionLink("Truyện ngắn", "Index", "Post")</li>
                    <li>@Html.ActionLink("Truyện dài", "Index", "Post")</li>
                    <li>@Html.ActionLink("Truyện cười", "Index", "Post")</li>
                    <li>@Html.ActionLink("Truyện audio", "Index", "Post")</li>
                    <li>@Html.ActionLink("Hình ảnh", "Index", "Post")</li>
                </ul>
                <div class="navbar-collapse collapse">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input size="40" type="text" class="form-control" style="width:300px" placeholder="Nhập tên địa điểm...">
                        </div>
                        <button type="submit" class="btn btn-default">Tìm kiếm</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:0; margin-right:0">
            <div class="col-lg-12" style="background-image:url(../Images/10841374_309011442623153_774779314_n.jpg); background-attachment:fixed">
                <div class="container" style="background-color: transparent; padding-left:0; padding-right:0; width:1100px; ba">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer style="max-height:100px">
            <div style="float:left; margin-top:20px; margin-left:20px">
                <p>&copy; @DateTime.Now.Year - Truyện ngắn teen</p>
            </div>
            <div style="float:right;margin-top:20px; margin-right:20px">
                <p>&copy; Kẹo ngọt cho tâm hồn ♥</p>
            </div>
        </footer>
        
       
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderSection("featured", required: false)
</body>
</html>
