﻿@model WebFinalProject.Models.HinhAnh

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>HinhAnh</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenHinhAnh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenHinhAnh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Post.TacGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Post.TacGia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TheLoaiHinhAnh.TenLoaiHinhAnh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TheLoaiHinhAnh.TenLoaiHinhAnh)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.HinhAnhID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
