﻿@{
    ViewBag.Title = "Giới thiệu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Đây là trang web đầu tiên của bạn Bo nên khong có cái gì hết trơn :v
    </p>

</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
        <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
        <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
    </ul>
</aside>