﻿@{
    ViewBag.Title = "Thông tin liên hệ";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>01633819814</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Hỗ trợ:</span>
        <span><a href="mailto:Support@example.com">phuongquang94@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Địa chỉ</h3>
    </header>
    <p>
        445/3b, đường Song hành Hà Nội, phường Trường Thọ, quận Thủ Đức, thành phố Hồ Chí Minh
    </p>
</section>