﻿@{
    ViewBag.Title = "Trang chủ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               Kẹo ngọt cho tâm hồn
            </p>
        </div>
    </section>
}
