﻿@model WebFinalProject.Models.Comment
@using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { id = "my-form" })) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="form-group" style="width:1000px">
            <textarea cols="20" id="NoiDung" name="NoiDung" rows="2" style="width:1000px; height:50px"></textarea>
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div> 
        <p>
            <input type="submit" value="Comment" class="btn-danger" style="width:80px; height:30px"/>
        </p>
    </fieldset>
    
}
<script src="~/Scripts/_Comment.js"></script>