﻿@model WebFinalProject.Models.Post

@{
    ViewBag.Title = "Ánh Dương là của tôi";
    
}
<body>
    <div class="container-fluid" style="background:#ffffff; border:2px solid #78c848; margin-top:10px; padding-left:0; padding-top:0">
        <div class="container-fluid" style="height:30px; width:1098px; background:#78c848; margin-top:10px; color:#000000; margin-top:0">
            @Html.ActionLink("Ánh Dương là của tôi", "AnhDuongLaCuaToi", "Post")
        </div>
        <div class="container-fluid" style="text-align:center;font-weight:bold;font-size:2.0em">
            <br />
            <article> ÁNH DƯƠNG LÀ CỦA TÔI</article>
            <br />
        </div>
        <div class="container-fluid">
            Trước khi trở thành ác quỷ, ai cũng từng là một thiên thần.
            ...<br />
            ***<br />
            1.

            Tôi là một gã trai tồi, như người ta hay gọi là playboy. Tôi thay người yêu như thay áo, với tôi, đàn bà chỉ là thứ tạm bợ xoa dịu cho trái tim hoang hoải và tâm hồn cô đơn của mình.

            Chưa bao giờ tôi nghĩ, sẽ có một cô gái trói buộc được trái tim rong ruổi như cơn gió hoang của mình.

            Cho đến khi tôi gặp em.<br /><br />
            Đêm đó, khi tôi lang thang đi một mình trên con đường nhỏ, hương hoa sữa nồng nàn quyện vào làn gió thu se se, nhìn theo cái bóng đổ dài dưới ánh đèn vàng vọt. Những cuộc chơi quay cuồng, đàn bà, rượu, tiếng nhạc ầm ỹ, tất cả không lấp đầy nỗi trống vắng trong lòng. Khi tất cả những ồn ã tan đi, cuối cùng, cũng chỉ còn lại mình tôi với cái bóng của mình. Thật mỉa mai phải không, con trai hiệu trưởng một trường lớn nhất thành phố, cuối cùng lại như kẻ vô gia cư lang thang trong đêm thế này.

            Đột nhiên, một bọn người tay cầm gậy gộc tiến về phía tôi. Thằng cầm đầu nhìn tôi, hung dữ nói: "Thằng chó, dám cướp bồ của tao, hôm nay phải dạy cho mày một bài học, chúng mày, lên"

            Cả bọn lao đến, bình thường bọn chúng không phải đối thủ của tôi. Nhưng hôm nay tôi uống hơi nhiều, men rượu làm đầu óc chuếnh choáng, chỉ có thể lảo đảo tránh né. Cuối cùng, tôi vẫn trúng một gậy vào trán, vết thương đau nhói, dòng máu nóng hổi chảy ra. Ài, không ngờ tôi lại chết ngu ngốc như thế này. Ừ thì chết, dù sao cái cuộc đời này cũng chẳng có quá nhiều thứ khiến tôi lưu luyến.

            Cuộc đời, chỉ như giấc mộng hư ảo, không có gì đáng giá để níu kéo tôi.

            Nhưng ông trời còn chưa bắt tôi chết, một thanh âm trong trẻo vang lên giữa màn đêm: "Cảnh sát đây, các người dừng lại ngay". Mở đôi mắt choáng váng ra nhìn, một bóng hình xinh đẹp mặc trang phục cảnh sát lao đến, bọn du côn thấy vậy chạy toán loạn. Trước khi ngất đi, tôi kịp nhìn thấy nét mặt lo lắng của cô ấy, gương mặt xinh đẹp nhất từ trước đến giờ.

            Đó là lần đầu tôi gặp em.<br /><br />
        </div>
        <div class="container-fluid" style="text-align:center">
            <img src="~/Images/anh-duong-cua-toi.jpg" style="width:500px; height:350px" />
        </div>
        <div class="container-fluid">
            <br /><br />
            2.

            Người cảnh sát xinh đẹp có một cái tên rất hợp: Vũ Cát Dương. Nụ cười của Dương rạng rỡ như ánh mặt trời. Dương là một cô gái mạnh mẽ, độc lập, người con gái vô cùng đặc biệt. Lần đầu tiên trong đời, trái tim của tôi của lệch nhịp khi nhìn thấy nụ cười của một người con gái. Tôi biết, tâm hồn phiêu du của tên lãng tử đã tìm được chỗ dừng chân rồi.

            Bạn có tin vào tình yêu từ cái nhìn đầu tiên không. Còn tôi thì có, bởi khi ánh mắt của tôi dừng trên gương mặt em, tôi cảm thấy, dường như duyên phận giữa tôi và Dương đã bắt đầu từ trước khi chúng tôi gặp nhau.

            Tôi ngồi trên ghế đá trong công viên đợi Dương. Thoáng chốc, nhìn thấy bóng dáng xinh đẹp của em trong chiếc váy lam nhạt, khóe miệng không tự giác khẽ mỉm cười. Dương cười với tôi, lúm đồng tiền ẩn hiện, cô ấy luôn như vậy, tràn đầy sức sống, trong trẻo thánh khiết như một thiên thần, phải, cô ấy chính là thiên thần đến để xua tan đêm tối cô độc trong lòng tôi. Dương lấy từ trong túi ra một hộp nhỏ, khẽ mở ra, một chiếc bánh ngọt xinh xắn. Em cắm lên đó một ngọn nến hồng, ánh nến lấp lánh chiếu ánh sáng dịu dàng lên gương mặt em. Dương cười, ôm lấy tôi, nói bằng chất giọng nhẹ nhàng: "Chúc mừng sinh nhật anh, cảm ơn anh, vì đã đến thế gian này, để em gặp được anh".

            Tôi sững sờ, trái tim khẽ co rút.

            Mẹ từng nhìn tôi bằng ánh mắt căm hận mà nói: "Tại sao mày lại ra đời, chỉ vì mày mà tao cả đời lỡ dở, mày là sai lầm nhơ bẩn nhất trong cuộc đời tao. Ước gì mày chết đi, ước gì mày chưa từng được sinh ra".

            Mười tuổi, mẹ mất vì ung thư, bố đến đón tôi về. Người bố mà suốt mười năm chưa từng xuất hiện trong cuộc đời tôi, ông đưa tôi về căn biệt thự giàu sang. Vợ ông thấy tôi, phẫn hận nhìn người đàn ông đầu gối tay ấp suốt bao năm, nước mắt rơi như mưa. Bà gằn giọng: "Chỉ vì tôi không sinh được con cho ông, mà ông mang thứ nghiệt chủng này về. Tôi sẽ bắt ông, hối hận cả đời". Rồi bà ấy vơ lấy con dao trên bàn, quyết tuyệt đâm vào cổ họng mình. Dòng máu đỏ tươi tràn chảy ra không gì cầm giữ, ánh mắt bà ấy hung dữ nhìn về phía tôi, hổn hển từng chữ: "Tất cả là do mày, do mày".

            Ngày hôm đó, chính là sinh nhật tôi.

            Là vậy ư, chỉ vì được sinh ra trên đời là có tội sao. Sự sống của tôi là khởi nguồn của tất cả mọi bi kịch. Vậy thì chết đi, chết đi có phải mọi thứ sẽ chấm dứt không. Nếu tôi chết, liệu có ai rơi nước mắt vì tôi. Tôi im lặng ngồi trong bóng tối, cảm nhận sự sống từng chút rời khỏi cơ thể mình, cảm nhận dòng máu nóng hổi chảy tràn từ cổ tay. Ha ha, cũng không quá đau đớn.

            Sống và chết, chỉ cách nhau một đường kẻ mà thôi.

            Nhưng tôi không chết, vì bố đã đưa tôi vào bệnh viện. Tỉnh dậy sau giấc ngủ dài, đột nhiên tôi thấy rất buồn cười. Trời không muốn tôi chết, vậy thì tôi sẽ sống, sống để trả thù đời, trả thù người đàn ông vô trách nhiệm kia. Đúng, nếu không vì ông ta, sao lại có tôi, nếu không vì ông ta tham lam đùa giỡn với mẹ tôi, bà sao lại lỡ dở một đời, sao lại hận tôi, cả người vợ của ông ta cũng vì ông ta mà chết.

            Tất cả là tại gã đàn ông đạo mạo nhưng vô lương tâm ấy, tôi hận ông, vì sự thù hận ấy mà tôi sống đến bây giờ.

            Nhưng rốt cuộc, tôi vẫn không thể phủ nhận được một điều, tôi, là đứa trẻ không ai cần.

            Câu nói của em vang vọng mãi trong đầu, biến thành một dòng nước ấm xoa dịu trái tim cằn cỗi của tôi: "Cảm ơn anh, đã đến thế gian này".

            Tôi biết, trái tim mình đã cố gắng chịu đựng nỗi đau quá lâu rồi, cần một điểm tựa để dừng chân. Em, chính là điểm tựa ấy.<br /><br />
            3.

            Tôi và Dương hay ngồi trên sườn đồi sau nhà em ngắm hoàng hôn. Dương kể cho tôi về tuổi thơ của em. Năm Dương 10 tuổi, bố mẹ em gặp tai nạn, họ hàng không ai nhận nuôi, cuối cùng em và em gái bị đưa vào cô nhi viện ở thành phố này. Mười lăm tuổi, em cùng em gái ra ngoài sống, em vừa làm thêm vừa học. Em gái em giờ đang học ở xa. Em kể mọi thứ bằng chất giọng bình thản như đang nói về cuộc đời của người khác. Thì ra, tôi và em, đều là những đứa trẻ bị ruồng bỏ. Tôi nắm tay em, thầm hứa nhất định sẽ làm cho em trở thành người con gái hạnh phúc nhất thế gian.

            Tôi thầm thì: "Những năm qua, em đã rất khổ sở, phải không". Em nhìn tôi, đôi mắt trong veo như nước: "Khi gặp anh, em biết là mình đã kiên cường đủ rồi". Dương tựa đầu vào vai tôi, hương thơm mùi cỏ ngan ngát trên người em làm tôi yên bình vô cùng.

            Cô gái như ánh dương rạng rỡ, mạnh mẽ nhưng cũng trong sáng vô ngần ấy, tôi đã yêu em mất rồi.<br /><br />

            4.

            Tôi dẫn Dương về nhà ra mắt bố. Dù có căm ghét ông cỡ nào, ông cũng là thân nhân duy nhất của tôi. Tôi muốn nhận được sự chúc phúc của ông. Bàn tay tôi và Dương đan vào nhau dưới ánh mắt khó chịu của bố. Ông cau mày, lạnh lùng hỏi: "Cô Dương, cô chỉ là một cảnh sát thấp hèn, cô dựa vào cái gì muốn bước vào cửa nhà họ Hoàng". Tôi gắt lên: "Bố", không ai có quyền sỉ nhục người con gái tôi yêu. Dương ngẩng đầu, nhìn thẳng vào mắt bố tôi: "Dựa vào cháu yêu anh ấy"

            Tôi siết chặt tay Dương, nói lạnh lùng: "Con sẽ chỉ lấy Dương". Bố tôi gầm lên: "Vậy thì mày cút ra khỏi cái nhà này cho tao". Tôi đứng lên kéo tay Dương ra khỏi căn biệt thự xa hoa mà lạnh lẽo.

            Tôi dọn ra sống ở một căn hộ nhỏ, tìm một công việc phục vụ tại quán cà phê. Thấm thoắt đã được 2 tháng. Dương hay đến nấu nướng dọn dẹp cho tôi. Tôi ôm lấy cô ấy từ phía sau, cảm nhận độ ấm trên thân thể cô ấy, làm cho tôi thấy an tâm và hạnh phúc biết bao. Cái cảm giác có người quan tâm, có người chờ đợi thật tuyệt vời. Đêm nay, tôi sẽ cầu hôn cô ấy, để chúng tôi bên nhau suốt đời.

            Tiếc là, cơ hội nói lời cầu hôn ấy mãi mãi không đến, cũng như chiếc nhẫn tôi đã mua bằng tất cả số tiền dành dụm của mình, vĩnh viễn không đeo được lên tay cô ấy.<br /><br />

            5.

            Tôi cố gắng mở mắt, đầu nặng trĩu, cơn gió lồng lộng tạt vào mặt làm tôi thanh tỉnh không ít. Sau khi ăn bữa tối Dương nấu, đột nhiên tôi rất buồn ngủ. Mở mắt, tôi ngơ ngác. Tay chân bị trói chặt, trước mắt là gương mặt xinh đẹp của Dương. Nhìn quanh, đây là tầng thượng của trường học mà bố tôi làm hiệu trưởng. Dương cười, nụ cười ảo ảnh, giọng nói nhẹ nhàng như mê hoặc: "Chẳng phải anh luôn muốn biết về quá khứ của tôi sao, hôm nay tôi sẽ kể cho anh".

            Tôi ngây người, nụ cười kia sao xa lạ quá, nó lạnh lẽo, thê lương và bi ai đến tận cùng. Đây là Dương mà tôi yêu sao, gương mặt này của cô ấy tôi chưa từng thấy qua. Dương tiếp tục kể bằng giọng điệu bình thản: "Tôi có một người em gái, nó tên Vũ Cát Dương. Tôi là Vũ Cát Dung. Khi tôi 10 tuổi, chúng tôi sống trong cô nhi viện. Dương rất đáng yêu, hồn nhiên như một cô bé. Nó từng nói với tôi, sau này muốn làm cảnh sát. Trên đời này, nó là người thân duy nhất của tôi. Tôi luôn tự nhủ, phải bảo vệ nó thật tốt, để nó có thể luôn vui cười."

            Ánh mắt Dương mơ hồ xa xăm, dường như đang hồi tưởng lại những tháng ngày hạnh phúc bên em gái. Đột nhiên, đôi mắt trong suốt của em bừng lên sự đau khổ: "Nhưng anh biết không, tôi chính là một kẻ thất bại, cuối cùng đã không thể bảo vệ được em gái mình. Lên cấp 3, chúng tôi dọn ra ngoài sống. Một ngày, tôi đợi mãi không thấy nó đi học về, liền cuống cuồng lao đi tìm khắp nơi nhưng không thấy. Đến khi về nhà, trong phòng tối om, tôi bật đèn lên, thì thấy nó ngồi đó thẫn thờ. Tôi hốt hoảng hỏi nó làm sao, nó chỉ khóc mà nghẹn ngào nói 4 chữ: Em bị cưỡng hiếp".

            Tôi mở to mắt, sững sờ không nói nên lời. Dương đột nhiên ngẩng đầu nhìn tôi, đôi mắt long lên, ánh vẻ mỉa mai pha lẫn đau đớn cùng cực : "Anh có biết, ai là kẻ cưỡng hiếp nó không"

            Trái tim tôi run lên, trực giác nói cho tôi biết, đáp án sẽ rất đáng sợ. Dương thản nhiên nói: "Kẻ đó chính là bố anh, hiệu trưởng ngôi trường mà tôi và em gái đang học". Dương cười lạnh lùng: "Sau đó tôi đã dùng tất cả số tiền dành dụm để kiện ông ta. Nhưng ông ta lại dùng tiền dẹp tan tất cả. Cuối cùng sự thật bị đảo lộn, em gái tôi trở thành đứa trẻ không biết xấu hổ vu hãm ông ta, bị tất cả mọi người phỉ nhổ. Ha ha, tôi đã hiểu, trên đời này, chân lí luôn thuộc về kẻ có tiền.Còn anh, anh đương nhiên không biết bố anh là kẻ đốn mạt thế nào, lúc đó anh đang đi du học mà".

            Tôi run lên, không ngờ, không ngờ ông ta lại làm chuyện táng tận lương tâm như thế.

            Dương tiếp tục nói: "Một ngày tôi về nhà, không thấy em gái đâu, chỉ thấy trên bàn một tờ giấy, bên trên viết dòng chữ: "Chị ơi, em xin lỗi". Tôi điên cuồng đi tìm nó trong đêm, khi chạy đến trường thì nghe tin một học sinh nữ nhảy từ tầng 5 xuống. Chính là ở đây, em gái tôi đã kết thúc sinh mạng của nó"

            Khi đứng trên tầng cao nhất này, em đã nghĩ gì hả Dương. Chị đã đứng ở đây không biết bao lần nhìn xuống dưới. Chỉ thấy xa xa những căn nhà sáng đèn, bầu trời bao la đen tối. Em đã cô đơn, đã sợ hãi lắm phải không Dương. Không một ai trên cái thế giới nhơ bẩn này níu em lại được.

            Khi không thể đương đầu với mọi chuyện, người ta tìm cách trốn chạy.

            Phải tuyệt vọng đến thế nào, một cô gái mới lựa chọn phương thức đau đớn này để rời bỏ cuộc sống.

            Chết, có phải là giải thoát không, chẳng ai biết được.<br /><br />
        </div>
        <div class="container-fluid" style="text-align:center">
            <img src="~/Images/anh-tinh-yeu-buon-28.jpg" style="width:500px; height:350px" />
        </div>
        <div class="container-fluid">
            <br /><br />
            Em mới 16 tuổi, sao em không nghĩ đến sau này em trở thành cảnh sát, sau này em sẽ gặp người đàn ông yêu em, sau này em sẽ có những đứa con. Sao em không nghĩ đến chị sẽ đau khổ thế nào khi mất em, Dương ơi. Tại sao lại ra đi, tại sao lại rời bỏ chị, tại sao...

            Chị đã ôm ảnh thờ của em đứng trước nhà kẻ hại em một ngày đêm. Rất nhiều người qua lại nhưng không một ai dừng lại. Đối với họ, chúng ta chỉ là những kẻ vô danh mạt hạng nghèo khổ, sinh mạng của chúng ta có là gì.

            Chỉ có nỗi đau khổ trong trái tim chị là mãi mãi không mất đi.

            "Anh biết không, tôi đã thề, sẽ làm cho kẻ hại em tôi nếm trải nỗi đau mà tôi phải chịu. Tôi đổi tên thành Dương, tôi thi cảnh sát, để thực hiện ước mơ dang dở của em tôi. Và tôi biết được, điểm yếu trí mạng của ông ta, chính là anh, đứa con trai ông ta yêu thương. Haha, ông ta là kẻ khốn nạn, nhưng có một sự thật, đó là ông ta rất thương anh. Tôi đã lên kế hoạch tiếp cận anh, từ bảy năm trước". Đột nhiên Dương quay lại, hướng mặt về phía chiếc máy quay sau lưng em, cười tàn nhẫn: "Ông thích điều này chứ, bác trai"

            Trên màn hình máy quay là gương mặt như hóa đá của bố tôi. Ông đã nghe tất cả những gì Dương nói. Dương cười bình thản: "Tôi sẽ cho ông tận mắt nhìn thấy đứa con ông yêu thương nhảy lầu chết trước mặt mình, còn ông, hãy sống đau khổ cả quãng đời còn lại mà đền tội", em cười man dại, tiếng cười chói tai như xuyên thủng màn đêm, đâm nát trái tim tôi.

            Thì ra, tất cả chỉ là sự sắp đặt để trả thù của em, gặp gỡ, yêu thương, đều là giả dối.

            Vốn tôi nên hiểu, trên đời này, đâu có ai thật sự yêu tôi, một kẻ thừa thãi không nên sinh ra trên đời.

            Em tính toán tất cả, nhưng lại không ngờ rằng, ông ấy không hề yêu tôi, với ông ấy, tôi chỉ là kẻ khiến vợ ông tự sát, hại gia đình ông tan nát.

            Dù sao thì, người nhà họ Hoàng nợ em, tôi sẽ trả.

            Chết ư, có gì đáng sợ, kết thúc hết đi, đau đớn, dằn vặt, tình yêu, trở về với cát bụi.

            Khi bàn tay lạnh băng của Dương chạm đến vai tôi, đột nhiên giọng nói trầm khàn của bố tôi trong máy quay vang lên: "Là tôi nợ chị em cô, hãy để tôi trả, cầu xin cô, Phong vô tội, nó thật lòng yêu cô", khi không ai ngờ tới, ông cầm con dao vung lên, đâm vào tim mình. Dòng máu đỏ ghê người đập vào mắt tôi, làm tôi như ngừng thở. Vì sao, không phải ông ta luôn lạnh nhạt với tôi sao, không phải ông ta luôn hận tôi hại chết vợ ông ta sao...Những suy nghĩ rối rắm như tấm mạng nhện làm tôi muốn phát điên.

            Hết thảy xảy ra quá nhanh, đến nỗi khi tôi bừng tỉnh, chỉ còn thấy bóng dáng lam nhạt xa xôi. Em lẩm bẩm thật khẽ: "Ván cược này, tôi đã thắng rồi, cuối cùng ông ta cũng không để anh chết, ha ha".

            Dương quay lưng rời đi, bỏ lại hết thảy, bỏ lại một gã đàn ông với trái tim tan vỡ, chứng kiến cái chết của người thân duy nhất, bị người yêu nhất phản bội. Bóng hình màu lam càng ngày càng xa tầm với, chỉ còn hư ảo không thể nắm bắt. Tôi lên tiếng khàn khàn: "Có thể trả lời tôi, em có từng yêu tôi, dù chỉ một chút"

            Trong một khoảnh khắc, dường như bóng lưng cô độc ấy hơi run lên, rồi rất nhanh khôi phục vẻ lạnh lùng: "Yêu anh, đừng ngu ngốc nữa, tôi chỉ lợi dụng anh thôi", rồi cô ấy bỏ đi.

            Cuối cùng, chỉ còn lại mình tôi.

            Đúng, yêu hay không yêu có quan trọng sao, bởi vì sau cuối, cô ấy vẫn chọn em gái mình.

            Ngoài kia, bầu trời hé rạng những tia sáng đầu tiên của ngày mới. Người con gái như ánh dương rạng rỡ, đã rời bỏ tôi mất rồi.<br /><br />


            6.

            Tôi là Vũ Cát Dương, không, phải nói tên thật của tôi là Vũ Cát Dung.

            Tôi ngồi bên mộ, vuốt ve tấm ảnh trên bia. Em gái, chị đến thăm em đây, cuối cùng em đã có thể yên nghỉ rồi.

            Bầu trời ngày hôm nay thật trong xanh, không một áng mây. Tôi ngẩng đầu nhìn trời, nhớ về một ngày cách đây 10 năm, bầu trời cũng xanh như thế. Khi đó, tôi còn là một cô gái nhỏ, bị mấy đứa trẻ khác trong trường bắt nạt vì là cô nhi, một chàng trai đã đánh đuổi bọn chúng, rồi dịu dàng hỏi tôi: "Em có sao không". Nụ cười ấm áp của chàng trai đã khắc sâu trong trái tim tôi, từ giây phút ấy.

            Phong à, anh vĩnh viễn sẽ không biết được, em yêu anh đến nhường nào. Nhưng em cũng yêu em gái mình vô cùng. Từng đắm chìm trong tình yêu của anh, từng muốn buông tay, từng muốn thứ tha hết thảy, nhưng là, rốt cuộc em vẫn không đủ can đảm.

            Giá như chưa từng có chuyện kia xảy ra, giá như ở những tháng năm tươi đẹp nhất của tuổi thanh xuân thuần khiết, khi mà trái tim em còn chưa mang hận thù, khi mà tâm hồn em còn trọn vẹn trong trẻo, em bước về phía anh mà nói: "Chào anh, em đã thích anh từ rất lâu rồi..."<br /><br />

            Diệu Huyền
        </div>
        <br />
        <br />
        <fieldset style="margin-left:20px">
            <legend>Tags</legend>
            @foreach (var t in Model.Tags)
            {
                @Html.ActionLink(t.NoiDung, "SearchTags/" + t.TagID, "Post")
            }
        </fieldset>
        <hr class="divider" style=" margin-left:15px;border:1px solid #fb4ca2" />
        <p style="text-align:center">
            <button type="button" style="width:100px;height:35px; background:#2595de; color:#ffffff; font-size:1.1em; font-weight:bold; text-align:center;padding-top:0; ">
                <img src="~/Images/1418479926_like-24.png" /> Thích
            </button>
            <button type="button" style="width:150px;height:35px; background:#ff6a00;color:#ffffff; font-size:1.1em; font-weight:bold; padding-top:0">
                <img src="~/Images/1418480037_Comment.png" /> Bình Luận
            </button>
        </p>
        <div class="container-fluid" style="margin-left:30px">
            @Html.Partial("_Comment", new WebFinalProject.Models.Comment())
            <fieldset>
                <legend>Bình luận</legend>
                <div id="result">
                    @foreach (var cmt in Model.Comments.OrderByDescending(c => c.NgayBinhLuan).Take(10))
                    {
                        <div class="display-field" style="font-weight:bold">
                            @Html.ActionLink(cmt.Post.UserProfile.UserName, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" }): @Html.DisplayFor(c => cmt.NoiDung)
                        </div>

                        <div class="display-field">

                            Đã bình luận @Html.DisplayFor(c => cmt.LastTime) trước
                        </div>
                    }
                </div>
            </fieldset>
        </div>
    </div>
</body>