﻿@model WebFinalProject.Models.Post

@{
    ViewBag.Title = "Đăng bài";
}

<div class="edit">

</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Đăng bài</legend>

       

        <div class="editor-label">
            @Html.LabelFor(model => model.TenBaiDang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBaiDang)
            @Html.ValidationMessageFor(model => model.TenBaiDang)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ChiTietTheLoaiTruyenID, "ChiTietTheLoaiTruyen")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ChiTietTheLoaiTruyenID", String.Empty)
            @Html.ValidationMessageFor(model => model.ChiTietTheLoaiTruyenID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TacGia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TacGia)
            @Html.ValidationMessageFor(model => model.TacGia)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => new WebFinalProject.Models.Tag().NoiDung, "Tags")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => new WebFinalProject.Models.Tag().NoiDung)
            @Html.ValidationMessageFor(model => new WebFinalProject.Models.Tag().NoiDung)
        </div>
        <p>
            <input type="submit" value="Gửi bài đăng" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
