﻿@model WebFinalProject.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        @Html.HiddenFor(model => model.PostID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TacGia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TacGia)
            @Html.ValidationMessageFor(model => model.TacGia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenBaiDang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBaiDang)
            @Html.ValidationMessageFor(model => model.TenBaiDang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayDang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayDang)
            @Html.ValidationMessageFor(model => model.NgayDang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "Profile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserProfileUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChiTietTheLoaiTruyenID, "ChiTietTheLoaiTruyen")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ChiTietTheLoaiTruyenID", String.Empty)
            @Html.ValidationMessageFor(model => model.ChiTietTheLoaiTruyenID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
