﻿@model IEnumerable<WebFinalProject.Models.Post>

@{
    ViewBag.Title = "Trang bài đăng";
}
<body>
    <div class="form-group" style="background:#ffffff; text-align:center; font-size:1.2em; padding-top:30px; padding-bottom:30px; margin-top:30px;border: 2px solid #39c248">
        <h3> Danh sách bài đăng </h3>
        <table style=" width:1000px; background :#ffffff; text-align:center; border: 1px solid #f3eeee; margin-left:20px; padding-left:30px; padding-right:30px">
            <tr>
                <th>
                    @Html.DisplayName("Tên bài đăng")
                </th>
                <th>
                    @Html.DisplayName("Ngày đăng")
                </th>
                <th>
                    @Html.DisplayName("Tác giả")
                </th>
                <th>
                    @Html.DisplayName("Người đăng bài")
                </th>
                <th>
                    @Html.DisplayName("Chi tiết thể loại truyện")
                </th>
                <th>
                    @Html.DisplayName("Thể loại truyện")
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenBaiDang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayDang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TacGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfile.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChiTietTheLoaiTruyen.TenChiTietTheLoaiTruyen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChiTietTheLoaiTruyen.LoaiTruyen.TenLoaiTruyen)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                        </td>*@
                </tr>
            }

        </table>
    </div>
</body>