﻿@{
    ViewBag.Title = "ResultAfterCreatePost";
    Layout = "~/Views/Shared/_WebProject.cshtml";
}

<body>
    <div class="form-group" style="background:#ffffff; text-align:center; ">
        <p  style=" height:400px; text-align:center;font:1.2em; padding-top:100px;margin-top:30px; font-size:1.4em;border: 2px solid #39c248">
             Gửi bài đăng thành công. Bài đăng của bạn sẽ được cập nhật trong thời gian sớm nhất.<br /> Xin cảm ơn<br /><br />
            <a href="@Url.Action("TrangChu","TrangChu")"> <input type="submit" value="Quay lại trang chủ" style="width:210px;height:40px; background:#d51212; color:#ffffff; font-size:1.1em; font-weight:bold; text-align:center;padding-top:0;margin-bottom:600px"></a>
        </p>    
    </div>
</body>
