﻿@model WebFinalProject.Models.Tag
@{
    ViewBag.Title = "Tìm kiếm theo tag";
    Layout = "~/Views/Shared/_WebProject.cshtml";
}

<body>
    <div class="form-group" style="background:#ffffff; text-align:center; font-size:1.2em; padding-top:30px; padding-bottom:30px; margin-top:30px">
        <h3> Danh sách bài đăng </h3>
        <table style=" width:800px; background :#ffffff; text-align:center; border: 1px solid #f3eeee; margin-left:150px; padding-left:30px; padding-right:30px">
            <tr>
                <th>
                    @Html.DisplayName("Tên bài đăng")
                </th>
                <th>
                    @Html.DisplayName("Ngày đăng")
                </th>
                <th>
                    @Html.DisplayName("Tác giả")
                </th>
                <th>
                    @Html.DisplayName("Người đăng bài")
                </th>
            </tr>
            @foreach (var item in Model.Posts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenBaiDang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayDang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TacGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfile.UserName)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                        </td>*@
                </tr>
            }

        </table>
    </div>
</body>