﻿@model WebFinalProject.Models.Like

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Like</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileUserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayThich)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayThich)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Post.TacGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Post.TacGia)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LikeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
