﻿@model IEnumerable<WebFinalProject.Models.Like>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserProfileUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayThich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.TacGia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfileUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.TacGia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LikeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LikeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LikeID })
        </td>
    </tr>
}

</table>
